
# dependencies
/node_modules
/.pnp
.pnp.js


# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.vsocde/*

node_modules/.cache/.eslintcache
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
package-lock.json
public/js/AudioPlayer.js
public/js/calendar.js
public/js/counterup-t-waypoint.js
public/js/custom.js
public/js/echarts.min.js
public/js/form-validation.js
public/js/jquery-stories.js
public/js/jquery.cookieBar.min.js
public/js/jquery.downCount.js
public/js/jquery.eventCalendar.min.js
public/js/jquery.funfact.min.js
public/js/jquery.sparkline.min.js
public/js/locationpicker.jquery.js
public/js/main.min.js
public/js/map-init.js
public/js/page-tour-init.js
public/js/page-tourintro.js
public/js/script.js
public/js/toast-notificatons.js
public/js/userincr.js
public/js/vector-map.js
public/js/vectormap-init.js
public/js/video-player.js
public/js/world.js
resources/images/resources/ad-widget.gif
resources/images/resources/add-banner.jpg
resources/images/resources/admin.jpg
resources/images/resources/admin2.jpg
resources/images/resources/album1.jpg
resources/images/resources/album2.jpg
resources/images/resources/album4.jpg
resources/images/resources/album5.jpg
resources/images/resources/album6.jpg
resources/images/resources/animated-bg2.png
resources/images/resources/audio-singe-avatar.jpg
resources/images/resources/audio-user1.jpg
resources/images/resources/audio-user2.jpg
resources/images/resources/audio-user3.jpg
resources/images/resources/audio-user4.jpg
resources/images/resources/audio-user5.jpg
resources/images/resources/audio-user6.jpg
resources/images/resources/author.jpg
resources/images/resources/author2.jpg
resources/images/resources/baner-badges.png
resources/images/resources/baner-forum.png
resources/images/resources/baner-statics.png
resources/images/resources/baner-typography.png
resources/images/resources/baner-widgetbg.jpg
resources/images/resources/baner-widgetbg2.jpg
resources/images/resources/Barcode.jpg
resources/images/resources/blog-detail.jpg
resources/images/resources/blog.jpg
resources/images/resources/blog2.jpg
resources/images/resources/blog3.jpg
resources/images/resources/blogpost-1.jpg
resources/images/resources/blogpost-2.jpg
resources/images/resources/blogpost-3.jpg
resources/images/resources/blogpost-4.jpg
resources/images/resources/blur-image.jpg
resources/images/resources/blur-image2.jpg
resources/images/resources/blur-image3.jpg
resources/images/resources/blur-image4.jpg
resources/images/resources/blur-image5.jpg
resources/images/resources/cart-2.jpg
resources/images/resources/cart-3.jpg
resources/images/resources/cart-4.jpg
resources/images/resources/ceo1.jpg
resources/images/resources/ceo2.jpg
resources/images/resources/ceo3.jpg
resources/images/resources/ceo4.jpg
resources/images/resources/ceo5.jpg
resources/images/resources/ceo6.jpg
resources/images/resources/ceo7.jpg
resources/images/resources/ceo8.jpg
resources/images/resources/chanel-avatar.jpg
resources/images/resources/channel.jpg
resources/images/resources/chatlist1.jpg
resources/images/resources/chatlist2.jpg
resources/images/resources/chatuser1.jpg
resources/images/resources/chatuser2.jpg
resources/images/resources/chatuser3.jpg
resources/images/resources/chatuser4.jpg
resources/images/resources/chatuser5.jpg
resources/images/resources/chatuser6.jpg
resources/images/resources/chatuser8.jpg
resources/images/resources/classic-bunch1.jpg
resources/images/resources/classic-bunch10.jpg
resources/images/resources/classic-bunch2.jpg
resources/images/resources/classic-bunch3.jpg
resources/images/resources/classic-bunch4.jpg
resources/images/resources/classic-bunch5.jpg
resources/images/resources/classic-bunch6.jpg
resources/images/resources/classic-bunch7.jpg
resources/images/resources/classic-bunch8.jpg
resources/images/resources/classic-bunch9.jpg
resources/images/resources/classic-new1.jpg
resources/images/resources/classic-new2.jpg
resources/images/resources/classic-new3.jpg
resources/images/resources/classic-new4.jpg
resources/images/resources/classic-new5.jpg
resources/images/resources/classic-new6.jpg
resources/images/resources/classic-new7.jpg
resources/images/resources/classic-new8.jpg
resources/images/resources/classic-new9.jpg
resources/images/resources/classic1.jpg
resources/images/resources/classic10.jpg
resources/images/resources/classic2.jpg
resources/images/resources/classic3.jpg
resources/images/resources/classic4.jpg
resources/images/resources/classic5.jpg
resources/images/resources/classic6.jpg
resources/images/resources/classic7.jpg
resources/images/resources/classic8.jpg
resources/images/resources/classic9.jpg
resources/images/resources/classified-bg.jpg
resources/images/resources/classified-dp.jpg
resources/images/resources/classified1.jpg
resources/images/resources/classified2.jpg
resources/images/resources/classified3.jpg
resources/images/resources/classified4.jpg
resources/images/resources/classified5.jpg
resources/images/resources/classified6.jpg
resources/images/resources/comet-1.jpg
resources/images/resources/comet-2.jpg
resources/images/resources/comet-3.jpg
resources/images/resources/comet-4.jpg
resources/images/resources/coming-soon-bg.jpg
resources/images/resources/company1.png
resources/images/resources/company2.png
resources/images/resources/company3.png
resources/images/resources/company4.png
resources/images/resources/company5.png
resources/images/resources/company6.png
resources/images/resources/company7.png
resources/images/resources/company8.png
resources/images/resources/couple1.jpg
resources/images/resources/couple2.jpg
resources/images/resources/couple3.jpg
resources/images/resources/date-user1.jpg
resources/images/resources/date-user10.jpg
resources/images/resources/date-user11.jpg
resources/images/resources/date-user12.jpg
resources/images/resources/date-user13.jpg
resources/images/resources/date-user14.jpg
resources/images/resources/date-user15.jpg
resources/images/resources/date-user16.jpg
resources/images/resources/date-user2.jpg
resources/images/resources/date-user3.jpg
resources/images/resources/date-user4.jpg
resources/images/resources/date-user5.jpg
resources/images/resources/date-user6.jpg
resources/images/resources/date-user7.jpg
resources/images/resources/date-user8.jpg
resources/images/resources/date-user9.jpg
resources/images/resources/date-userlist1.jpg
resources/images/resources/date-userlist2.jpg
resources/images/resources/date-userlist3.jpg
resources/images/resources/date-userlist4.jpg
resources/images/resources/date-userlist5.jpg
resources/images/resources/date-userlist6.jpg
resources/images/resources/date-userlist7.jpg
resources/images/resources/date-userlist8.jpg
resources/images/resources/date-userlist9.jpg
resources/images/resources/deal-popup-bg.jpg
resources/images/resources/detail-gold1.jpg
resources/images/resources/detail-gold2.jpg
resources/images/resources/detail-gold3.jpg
resources/images/resources/dig-product1.jpg
resources/images/resources/dig-product2.jpg
resources/images/resources/dig-product3.jpg
resources/images/resources/dig-product4.jpg
resources/images/resources/dig-product5.jpg
resources/images/resources/dig-product6.jpg
resources/images/resources/dob-cake.gif
resources/images/resources/dob2.png
resources/images/resources/donation-bg.jpg
resources/images/resources/donation-thumb.jpg
resources/images/resources/employer.jpg
resources/images/resources/error500.gif
resources/images/resources/event-detail1.jpg
resources/images/resources/event1.jpg
resources/images/resources/event2.jpg
resources/images/resources/event3.jpg
resources/images/resources/event4.jpg
resources/images/resources/event5.jpg
resources/images/resources/facebook-office.jpg
resources/images/resources/fav-banner.jpg
resources/images/resources/fav-dp.jpg
resources/images/resources/feature-chanel.jpg
resources/images/resources/feature-video.jpg
resources/images/resources/featured-top-baner.jpg
resources/images/resources/folio-detail1.jpg
resources/images/resources/folio-detail2.jpg
resources/images/resources/folio-detail3.jpg
resources/images/resources/folio-detail4.jpg
resources/images/resources/folio-detail5.jpg
resources/images/resources/folio-detail6.jpg
resources/images/resources/folio-detail7.jpg
resources/images/resources/folio-detail8.jpg
resources/images/resources/forum-author1.png
resources/images/resources/forum-author2.png
resources/images/resources/forum-author3.png
resources/images/resources/forum-author4.png
resources/images/resources/friend-avatar.jpg
resources/images/resources/friend-avatar10.jpg
resources/images/resources/friend-avatar11.jpg
resources/images/resources/friend-avatar12.jpg
resources/images/resources/friend-avatar13.jpg
resources/images/resources/friend-avatar14.jpg
resources/images/resources/friend-avatar15.jpg
resources/images/resources/friend-avatar16.jpg
resources/images/resources/friend-avatar2.jpg
resources/images/resources/friend-avatar3.jpg
resources/images/resources/friend-avatar4.jpg
resources/images/resources/friend-avatar5.jpg
resources/images/resources/friend-avatar6.jpg
resources/images/resources/friend-avatar7.jpg
resources/images/resources/friend-avatar8.jpg
resources/images/resources/friend-avatar9.jpg
resources/images/resources/frnd-cover1.jpg
resources/images/resources/frnd-cover2.jpg
resources/images/resources/frnd-cover3.jpg
resources/images/resources/frnd-cover4.jpg
resources/images/resources/frnd-cover5.jpg
resources/images/resources/frnd-cover6.jpg
resources/images/resources/frnd-cover7.jpg
resources/images/resources/frnd-cover8.jpg
resources/images/resources/frnd-figure1.jpg
resources/images/resources/frnd-figure10.jpg
resources/images/resources/frnd-figure11.jpg
resources/images/resources/frnd-figure12.jpg
resources/images/resources/frnd-figure13.jpg
resources/images/resources/frnd-figure14.jpg
resources/images/resources/frnd-figure15.jpg
resources/images/resources/frnd-figure16.jpg
resources/images/resources/frnd-figure2.jpg
resources/images/resources/frnd-figure3.jpg
resources/images/resources/frnd-figure4.jpg
resources/images/resources/frnd-figure5.jpg
resources/images/resources/frnd-figure6.jpg
resources/images/resources/frnd-figure7.jpg
resources/images/resources/frnd-figure8.jpg
resources/images/resources/frnd-figure9.jpg
resources/images/resources/group1.jpg
resources/images/resources/group10.jpg
resources/images/resources/group11.jpg
resources/images/resources/group12.jpg
resources/images/resources/group13.jpg
resources/images/resources/group14.jpg
resources/images/resources/group15.jpg
resources/images/resources/group16.jpg
resources/images/resources/group17.jpg
resources/images/resources/group2.jpg
resources/images/resources/group3.jpg
resources/images/resources/group4.jpg
resources/images/resources/group5.jpg
resources/images/resources/group6.jpg
resources/images/resources/group7.jpg
resources/images/resources/group8.jpg
resources/images/resources/group9.jpg
resources/images/resources/help-chat.png
resources/images/resources/help-contact.png
resources/images/resources/help-shot.jpg
resources/images/resources/hobo.jpg
resources/images/resources/jackgroup1.jpg
resources/images/resources/jackgroup2.jpg
resources/images/resources/jackgroup3.jpg
resources/images/resources/jackpage1.jpg
resources/images/resources/jackpage2.jpg
resources/images/resources/jackpage3.jpg
resources/images/resources/last-vid1.jpg
resources/images/resources/last-vid2.jpg
resources/images/resources/music-banner.jpg
resources/images/resources/nearly1.jpg
resources/images/resources/nearly2.jpg
resources/images/resources/nearly3.jpg
resources/images/resources/nearly4.jpg
resources/images/resources/nearly6.jpg
resources/images/resources/page1.jpg
resources/images/resources/photo-1001.jpg
resources/images/resources/photo-101.jpg
resources/images/resources/photo-1011.jpg
resources/images/resources/photo-1012.jpg
resources/images/resources/photo-1013.jpg
resources/images/resources/photo-1014.jpg
resources/images/resources/photo-1015.jpg
resources/images/resources/photo-22.jpg
resources/images/resources/photo-33.jpg
resources/images/resources/photo-44.jpg
resources/images/resources/photo-55.jpg
resources/images/resources/photo-66.jpg
resources/images/resources/photo-77.jpg
resources/images/resources/photo-88.jpg
resources/images/resources/photo-99.jpg
resources/images/resources/photo1.jpg
resources/images/resources/photo10.jpg
resources/images/resources/photo11.jpg
resources/images/resources/photo12.jpg
resources/images/resources/photo13.jpg
resources/images/resources/photo14.jpg
resources/images/resources/photo15.jpg
resources/images/resources/photo2.jpg
resources/images/resources/photo3.jpg
resources/images/resources/photo4.jpg
resources/images/resources/photo5.jpg
resources/images/resources/photo6.jpg
resources/images/resources/photo7.jpg
resources/images/resources/photo8.jpg
resources/images/resources/photo9.jpg
resources/images/resources/pitpoint-feature.jpg
resources/images/resources/pitrest1.jpg
resources/images/resources/pitrest10.jpg
resources/images/resources/pitrest11.jpg
resources/images/resources/pitrest12.jpg
resources/images/resources/pitrest13.jpg
resources/images/resources/pitrest14.jpg
resources/images/resources/pitrest15.jpg
resources/images/resources/pitrest16.jpg
resources/images/resources/pitrest17.jpg
resources/images/resources/pitrest18.jpg
resources/images/resources/pitrest19.jpg
resources/images/resources/pitrest2.jpg
resources/images/resources/pitrest20.jpg
resources/images/resources/pitrest21.jpg
resources/images/resources/pitrest22.jpg
resources/images/resources/pitrest23.jpg
resources/images/resources/pitrest24.jpg
resources/images/resources/pitrest25.jpg
resources/images/resources/pitrest26.jpg
resources/images/resources/pitrest27.jpg
resources/images/resources/pitrest28.jpg
resources/images/resources/pitrest29.jpg
resources/images/resources/pitrest3.jpg
resources/images/resources/pitrest30.jpg
resources/images/resources/pitrest4.jpg
resources/images/resources/pitrest5.jpg
resources/images/resources/pitrest6.jpg
resources/images/resources/pitrest7.jpg
resources/images/resources/pitrest8.jpg
resources/images/resources/pitrest9.jpg
resources/images/resources/playlist1.jpg
resources/images/resources/playlist2.jpg
resources/images/resources/playlist3.jpg
resources/images/resources/playlist4.jpg
resources/images/resources/playlist5.jpg
resources/images/resources/playlist6.jpg
resources/images/resources/post-createbg.jpg
resources/images/resources/postby1.jpg
resources/images/resources/postby2.jpg
resources/images/resources/postby3.jpg
resources/images/resources/product1.jpg
resources/images/resources/product2.jpg
resources/images/resources/product3.jpg
resources/images/resources/product4.jpg
resources/images/resources/profile-image.jpg
resources/images/resources/profile-image2.jpg
resources/images/resources/promo1.jpg
resources/images/resources/promo2.jpg
resources/images/resources/promo3.jpg
resources/images/resources/promo4.jpg
resources/images/resources/promo5.jpg
resources/images/resources/recent-1.jpg
resources/images/resources/recent-11.html
resources/images/resources/recent-2.jpg
resources/images/resources/recent-22.html
resources/images/resources/recent-3.jpg
resources/images/resources/recent-33.html
resources/images/resources/recent-4.jpg
resources/images/resources/recent-44.html
resources/images/resources/recent-5.jpg
resources/images/resources/recent-55.html
resources/images/resources/recent-6.jpg
resources/images/resources/recent-66.html
resources/images/resources/recent-7.jpg
resources/images/resources/recent-77.html
resources/images/resources/recent-8.jpg
resources/images/resources/recent-88.html
resources/images/resources/recent-9.jpg
resources/images/resources/recent-99.html
resources/images/resources/recent1.jpg
resources/images/resources/recent2.jpg
resources/images/resources/recent3.jpg
resources/images/resources/recent4.jpg
resources/images/resources/recent5.jpg
resources/images/resources/recent6.jpg
resources/images/resources/recentlink-1.jpg
resources/images/resources/recentlink-2.jpg
resources/images/resources/recentlink-3.jpg
resources/images/resources/red-post1.jpg
resources/images/resources/red-post2.jpg
resources/images/resources/red-post3.jpg
resources/images/resources/red-post4.jpg
resources/images/resources/red-post5.jpg
resources/images/resources/red-post6.jpg
resources/images/resources/red-post7.jpg
resources/images/resources/related-tube1.jpg
resources/images/resources/related-tube10.jpg
resources/images/resources/related-tube2.jpg
resources/images/resources/related-tube3.jpg
resources/images/resources/related-tube4.jpg
resources/images/resources/related-tube5.jpg
resources/images/resources/related-tube6.jpg
resources/images/resources/related-tube7.jpg
resources/images/resources/related-tube8.jpg
resources/images/resources/related-tube9.jpg
resources/images/resources/screenshot-messenger.jpg
resources/images/resources/search-1.jpg
resources/images/resources/search-2.jpg
resources/images/resources/search-3.jpg
resources/images/resources/searching1.jpg
resources/images/resources/searching2.jpg
resources/images/resources/searching3.jpg
resources/images/resources/searching4.jpg
resources/images/resources/share-post.jpg
resources/images/resources/shop-dp.jpg
resources/images/resources/shop-topbg.jpg
resources/images/resources/side-friend1.jpg
resources/images/resources/side-friend10.jpg
resources/images/resources/side-friend2.jpg
resources/images/resources/side-friend3.jpg
resources/images/resources/side-friend4.jpg
resources/images/resources/side-friend5.jpg
resources/images/resources/side-friend6.jpg
resources/images/resources/side-friend7.jpg
resources/images/resources/side-friend8.jpg
resources/images/resources/side-friend9.jpg
resources/images/resources/sidebar-info.jpg
resources/images/resources/singer1.jpg
resources/images/resources/single-comment1.jpg
resources/images/resources/slick1.jpg
resources/images/resources/slick2.jpg
resources/images/resources/slick3.jpg
resources/images/resources/slick4.jpg
resources/images/resources/slick5.jpg
resources/images/resources/slick6.jpg
resources/images/resources/slick7.jpg
resources/images/resources/slick8.jpg
resources/images/resources/slick9.jpg
resources/images/resources/song-chanl1.jpg
resources/images/resources/song-chanl2.jpg
resources/images/resources/song-chanl3.jpg
resources/images/resources/song-chanl4.jpg
resources/images/resources/song-chanl5.jpg
resources/images/resources/song-chanl6.jpg
resources/images/resources/sound-user1.jpg
resources/images/resources/soundnik.jpg
resources/images/resources/soundnik2.jpg
resources/images/resources/soundnik3.jpg
resources/images/resources/sponsor-1.png
resources/images/resources/sponsor-2.png
resources/images/resources/sponsor-3.png
resources/images/resources/sponsor-4.png
resources/images/resources/sponsor-5.png
resources/images/resources/story-1.jpg
resources/images/resources/story-2.jpg
resources/images/resources/story-3.jpg
resources/images/resources/story-4.jpg
resources/images/resources/sug-page-1.jpg
resources/images/resources/sug-page-2.jpg
resources/images/resources/sug-page-3.jpg
resources/images/resources/sug-page-4.jpg
resources/images/resources/sug-page-5.jpg
resources/images/resources/sug1.jpg
resources/images/resources/sug2.jpg
resources/images/resources/sug3.jpg
resources/images/resources/sug4.jpg
resources/images/resources/sug5.jpg
resources/images/resources/sug6.jpg
resources/images/resources/sug7.jpg
resources/images/resources/team1.jpg
resources/images/resources/team2.jpg
resources/images/resources/team3.jpg
resources/images/resources/team4.jpg
resources/images/resources/team5.jpg
resources/images/resources/testi-silver1.jpg
resources/images/resources/testi-silver2.jpg
resources/images/resources/testi-silver3.jpg
resources/images/resources/testi-silver4.jpg
resources/images/resources/text-bg.jpg
resources/images/resources/text-caro-1.jpg
resources/images/resources/text-caro-2.jpg
resources/images/resources/theme-bg.jpg
resources/images/resources/theme-bg2.jpg
resources/images/resources/thumb-1.jpg
resources/images/resources/thumb-2.jpg
resources/images/resources/thumb-3.jpg
resources/images/resources/thumb-4.jpg
resources/images/resources/thumb-5.jpg
resources/images/resources/top-comunity1.png
resources/images/resources/top-comunity2.png
resources/images/resources/top-comunity3.png
resources/images/resources/top-comunity4.png
resources/images/resources/top-comunity5.png
resources/images/resources/trending1.jpg
resources/images/resources/trending2.jpg
resources/images/resources/trending3.jpg
resources/images/resources/trending4.jpg
resources/images/resources/trending5.jpg
resources/images/resources/trending6.jpg
resources/images/resources/tube-baner1.jpg
resources/images/resources/tube-baner2.jpg
resources/images/resources/tube-category-thumb.jpg
resources/images/resources/tube-category.jpg
resources/images/resources/tube-feature-big.jpg
resources/images/resources/tube-feature-big2.jpg
resources/images/resources/tube-feature-small.jpg
resources/images/resources/tube-feature-small2.jpg
resources/images/resources/tube-post10.jpg
resources/images/resources/tube-post11.jpg
resources/images/resources/tube-post12.jpg
resources/images/resources/tube-post13.jpg
resources/images/resources/tube-post14.jpg
resources/images/resources/tube-post15.jpg
resources/images/resources/tube-post16.jpg
resources/images/resources/tube-post17.jpg
resources/images/resources/tube-post2.jpg
resources/images/resources/tube-post3.jpg
resources/images/resources/tube-post4.jpg
resources/images/resources/tube-post6.jpg
resources/images/resources/tube-post7.jpg
resources/images/resources/tube-post8.jpg
resources/images/resources/tube-post9.jpg
resources/images/resources/tube-user1.jpg
resources/images/resources/tube-user10.jpg
resources/images/resources/tube-user11.jpg
resources/images/resources/tube-user12.jpg
resources/images/resources/tube-user13.jpg
resources/images/resources/tube-user15.jpg
resources/images/resources/tube-user16.jpg
resources/images/resources/tube-user17.jpg
resources/images/resources/tube-user2.jpg
resources/images/resources/tube-user3.jpg
resources/images/resources/tube-user4.jpg
resources/images/resources/tube-user5.jpg
resources/images/resources/tube-user6.jpg
resources/images/resources/tube-user7.jpg
resources/images/resources/tube-user8.jpg
resources/images/resources/tube-user9.jpg
resources/images/resources/tvplay1.jpg
resources/images/resources/tvplay2.jpg
resources/images/resources/tvplay3.jpg
resources/images/resources/user-post.jpg
resources/images/resources/user1.jpg
resources/images/resources/user10.jpg
resources/images/resources/user11.jpg
resources/images/resources/user12.jpg
resources/images/resources/user13.jpg
resources/images/resources/user14.jpg
resources/images/resources/user15.jpg
resources/images/resources/user16.jpg
resources/images/resources/user17.jpg
resources/images/resources/user18.jpg
resources/images/resources/user19.jpg
resources/images/resources/user2.jpg
resources/images/resources/user20.jpg
resources/images/resources/user21.jpg
resources/images/resources/user22.jpg
resources/images/resources/user23.jpg
resources/images/resources/user24.jpg
resources/images/resources/user25.jpg
resources/images/resources/user3.jpg
resources/images/resources/user4.jpg
resources/images/resources/user5.jpg
resources/images/resources/user6.jpg
resources/images/resources/user7.jpg
resources/images/resources/user8.jpg
resources/images/resources/user9.jpg
resources/images/resources/userlist-1.jpg
resources/images/resources/userlist-2.jpg
resources/images/resources/userlist-3.jpg
resources/images/resources/userlist-4.jpg
resources/images/resources/userlist-5.jpg
resources/images/resources/userlist-6.jpg
resources/images/resources/userlist-7.jpg
resources/images/resources/vid-1.jpg
resources/images/resources/vid-10.jpg
resources/images/resources/vid-11.jpg
resources/images/resources/vid-12.jpg
resources/images/resources/vid-2.jpg
resources/images/resources/vid-3.jpg
resources/images/resources/vid-4.jpg
resources/images/resources/vid-5.jpg
resources/images/resources/vid-6.jpg
resources/images/resources/vid-7.jpg
resources/images/resources/vid-8.jpg
resources/images/resources/vid-9.jpg
resources/images/resources/weather.jpg
resources/images/resources/weatherbg.jpg
resources/images/resources/welcome-mockup.png
resources/images/resources/widget-baner.jpg
yarn.lock
